:root {
  --c1: #001c30;
  --c2: #176b87;
  --c3: #64ccc5;
  --c4: #dafffb;
}
@font-face {
  src: url(fonts/Gilroy-ExtraBold.ttf);
  font-family: GiloryB;
}
@font-face {
  src: url(fonts/Gilroy-Light.ttf);
  font-family: GiloryL;
}

body {
  font-family: GiloryL;
  background-color: rgba(0, 43, 72, 1);
  background-image: linear-gradient(
    90deg,
    rgba(0, 43, 72, 1) 0%,
    rgba(0, 28, 48, 1) 78%
  );
  color: #64ccc5;
}

.AB:hover {
  animation-name: enlarge;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.AB:not(:hover) {
  animation-name: shrink;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
