#Comment {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
#CommentLogo {
  width: 13%;
  border: var(--c4) solid 1px;
  border-radius: 46px;
  padding: 2px;
}

#CommentUserName {
  font-size: 13px;
}

#CommentText {
  font-size: 9px;
  width: 100%;
  word-break: break-word;
}

#CommentTextContainer {
  display: flex;
  flex-direction: column;
  padding-right: 3px;
  align-content: space-between;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
}
