#UserMessageDiv {
  height: fit-content;
  width: 90%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
  overflow: hidden;
}
#FriendMessageDiv {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;

  gap: 10px;
  align-items: center;
  margin: 10px;
  overflow: hidden;
}

#UserMessageContentContainer {
  box-sizing: border-box;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: #0095ff 2px solid;
  border-radius: 36px;
  background: #001c30;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#FriendMessageContentContainer {
  box-sizing: border-box;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: #00355a 2px solid;
  border-radius: 36px;
  background: #001c30;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#messageContainer {
  height: 85%;
}

#MessageImage {
  max-height: 180px;
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
}
