nav {
  background-color: transparent;
  height: 40px;
  border-bottom: aqua solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  color: var(--c4);
  border: var(--c3) solid 2px;
  border-radius: 10px;
  text-decoration: none;
  padding: 3px;
}

#NavBarImageLogo {
  border: var(--c3) 4px solid;
  border-radius: 78px;
  background: #001c30;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
#NavBarHomeLogo {
  width: 35px;
  height: 35px;
  object-fit: cover;
  filter: invert(96%) sepia(4%) saturate(3665%) hue-rotate(169deg)
    brightness(107%) contrast(101%);
  position: absolute;
  left: 50%;
}

#NavBarSearchDiv {
  height: 80%;
  width: 40%;
  margin-right: 3%;
  max-width: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  transition: background-color 0.3s ease;
}

#main-buttons li:hover a,
#NavBarLogoutLogo:hover,
#NavBarImageLogo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#NavBarSearchDiv {
  margin-left: auto;
  margin-right: 2%;
}
