#NavBar {
  justify-content: center;
  display: flex;
  height: 1vh;
}
.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item a:hover {
}
