#PostContainer {
  height: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  border-radius: 10px;
  background: #001c30;
  box-shadow: 10px 10px 20px #001422, -10px -10px 20px #00243e;
  padding: 1%;
  border: var(--c3) solid 4px;
}
#PostimageFrame {
  width: 69%;
  border: var(--c3) solid 4px;
  border-radius: 10px;
}
#PostRightSide {
  width: 28%;
  border: var(--c3) solid 4px;
  border-radius: 10px;
}

#PostRightSideProfileTop {
  display: flex;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
}
#PostImageLogo {
  width: 15%;
  border: var(--c4) solid 1px;
  border-radius: 46px;
  padding: 2px;
}

#PostProfileName {
  color: var(--c4);
}

#PostCommentsContainer {
  border-top: var(--c3) solid 4px;
}
